.imgNoTasks {
  color: var(--gray-300);
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 15.25rem;
  line-height: 1.4;
}

.imgNoTasks>img {
  margin-bottom: 1rem;
}

.imgNoTasks>p {
  font-weight: bold;
}

/* Tasks */
.task {
  background: var(--gray-500);
  border: var(--gray-400) solid 1px;
  border-radius: 8px;
  min-height: 4.5rem;
  padding: 0 1rem;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

/* CHECKBOX */
.task>label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateY(-50%);
}

.task>label .wrapper {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: relative;
}

.task>label .wrapper .inputNoCheck {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
  border: var(--blue) 2px solid;
}

.task>label .wrapper .inputNoCheck:hover {
  background: var(--blue-dark-opacity);
  border: var(--blue-dark) 2px solid;
}

.task>label .wrapper input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.task>label .wrapper input[type="checkbox"]:checked+.inputNoCheck {
  background: url("../../assets/vector.svg") no-repeat var(--purple-dark) center;
  border: var(--purple-dark);
}

.task>label .wrapper input[type="checkbox"]:checked+.inputNoCheck:hover {
  background: url("../../assets/vector.svg") no-repeat var(--purple) center;
}

/* TEXTO */
.textNoCheck,
.textCheck {
  max-width: 39.5em;
  padding: 1rem 0;
}

.textCheck {
  text-decoration: line-through;
  color: var(--gray-300);
}

/* LIXEIRA */
.trash,
.trashCheck {
  background: transparent;
  color: var(--gray-300);
  transform: translateY(-25%);
  border: none;
  display: flex;
  align-items: center;
  padding: 3px 4px;
}

.trash:hover,
.trashCheck:hover {
  border-radius: 4px;
  background: var(--gray-400);
  color: var(--danger);
}

.trash,
.trashCheck {
  cursor: pointer;
}

@media (max-width: 800px) {
  .task>p {
    max-width: 17rem;
  }
}